<div class="container">
    <div class="jumbotron" id="tagline">
      <h1>Hello {{sort name }}</h1>
    </div>
    <div class="row">
      <div class="col m12">
        <h3>Main</h3>

        <div class="divider"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
          perferendis voluptatum suscipit perspiciatis modi earum, ullam quos
          nulla, cumque nihil obcaecati asperiores eligendi adipisci facilis
          voluptas ipsum voluptate ut temporibus expedita neque tenetur ipsam.
          Enim asperiores quo sequi provident exercitationem maiores, eveniet
          reiciendis ipsum eaque aspernatur cumque, a ducimus facilis!
        </p>

        <button class="btn btn-flat green waves-effect waves-light white-text">
          Click Me
        </button>
      </div>
    </div>
  </div>