<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{> styles}}
    <title>Document</title>
</head>
<body>
    {{> navbar}}
    <div class="row container">
        <div class="col s7">
            <h1>Hello {{sort name}}</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, iure.</p>
        </div>
        <div class="col s3">
            <img class="responsive-img boder" src="https://images.pexels.com/photos/3381013/pexels-photo-3381013.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" srcset="">
        </div>
    </div>
    {{> footer}}
    {{> js}}
</body>
</html>